.jumbotron{
    width: 800px;
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-top: 20px;
}

.form-control{
    margin-bottom: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-control2{
    margin-bottom: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form-control-checkbox2{
    margin-bottom: 5px;
    margin-left: auto;
}

.form-control-checkbox{
    margin-bottom: 5px;
    margin-left: auto;
}

.selecionado{
    background-color: coral;
}

.negrito{
    font-weight: bold;
}

.negrito2{
    font-weight: bold;
}

.classeTesteCss{
    font-weight: bold;
    background-color: coral;
}