<html ng-app="listaUsuario">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <title>Lista de Usuarios</title>
        <!-- C:\desenvolvimento\javascript\agendinha-front\lib\angular-->

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/app.css" />

        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-messages.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/listaUsuarioCtrl.js"></script>

    </head>
    <body ng-controller="listaUsuarioCtrl">
        
        <div class="jumbotron">
          
            <form name="usuarioForm">
                <h3>{{cadastro}}</h3>
                {{message}}
                <div ng-show="usuarioForm.nome.$error.required && usuarioForm.nome.$dirty" class="alert alert-danger">Por favor, preencha o nome!</div>    
                <div ng-show="usuarioForm.nome.$error.minlength" class="alert alert-danger">O campo nome deve ter no mínimo 2 caracteres!</div>    

                <div ng-show="usuarioForm.email.$error.required && usuarioForm.email.$dirty" class="alert alert-danger">Por favor, preencha o email!</div>
                <div ng-show="usuarioForm.email.$error.pattern" class="alert alert-danger">Email inválido, preencha corretamente!</div>    
                <div ng-show="usuarioForm.papel.$invalid && usuarioForm.papel.$dirty" class="alert alert-danger">Por favor, selecione o papel do usuario!</div>    
                <div ng-show="usuarioForm.senha.$invalid && usuarioForm.senha.$dirty" class="alert alert-danger">Por favor, preencha a senha!</div>    

                <input type="text" id="txt-nome" name="nome" ng-model="usuario.nome" ng-required="true" ng-minlength="2" class="form-control" placeholder="Nome" >
                <input type="text" id="txt-email" name="email" ng-model="usuario.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control" placeholder="Email" >
                <select ng-model="usuario.perfilUsuario" name="papel" ng-required="true" ng-options="perfil for perfil in perfis" class="form-control">
                    <option value="" >Selecione um Perfil</option>
                </select>
                <!--  <input type="text" id="txt-papel" ng-model="usuario.papelUsuario" class="form-control" placeholder="Papel usuario" >-->
                <input type="password" id="txt-senha" name="senha" ng-required="true" ng-model="usuario.senha" class="form-control" placeholder="Senha" >
                <label>Ativo</label> <input type="checkbox" id="txt-ativo"  ng-model="usuario.ativo" >
            </form>
            <hr/>
            <button ng-click="adicionarUsuario(usuario)" class="btn btn-primary" ng-disabled="usuarioForm.$invalid">Adicionar</button>
            <button ng-click="apagarUsuario(usuarios)" class="btn btn-danger" ng-disabled="!isUsuarioSelecionado(usuarios)" >Apagar</button>
                
            <hr/>

            <div  ng-show="usuarios.length > 0">
                <h3>{{lista}}</h3>

                <input type="text"  class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando? " />

                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th><a ng-click="ordernarPor('nome');">Nome</a></th>
                        <th>Email</th>
                        <th>Perfil</th>
                        <th>Ativo</th>
                    </tr>
                    <tr ng-class="{'selecionado negrito': usuario.selecionado}" ng-repeat="usuario in usuarios | filter: criterioDeBusca | orderBy:criterioOrdenacao:direcaoOrdenacao">
                        <td><input type="checkbox" ng-model="usuario.selecionado" ></td>
                        <td>{{usuario.nome}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.perfilUsuario}}</td>
                        <td>{{usuario.ativo}}</td>
                    </tr>
                </table>
            </div>
                
        </div>
        <div ng-include="'view/rodape.html'"></div>
    </body>
    
</html>